.header{
    height: 810px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-mobile{
    height: 634px;
    top: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}


.bannerr{
    height: 288px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}